{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Employee Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="card mx-auto shadow-lg" style="width: 40rem;"> 
        {% if employee.photo %} 
        <img
            src="{{ employee.photo.url }}" class="card-img-top" alt="{{ employee.first_name }}"> {% endif %} <div
            class="card-body">
            <h3 class="card-title text-center">
                 {{ employee.first_name }} {{ employee.last_name }} 
                </h3>
            <hr>
            <p> <strong>Designation:</strong> {{ employee.designation }} </p>
            <p> <strong>Email:</strong> {{ employee.email }} </p>
            <p> <strong>Phone Number:</strong> {{ employee.phone_number }} </p>
            <p> <strong>Created At:</strong> {{ employee.created_at }} </p>
            <p> <strong>Updated At:</strong> {{ employee.updated_at }} </p>
            <div class="text-center mt-4"> <a href="{% url 'edit_employee' employee.id %}" class="btn btn-warning"> Edit
                    Profile </a> <a href="{% url 'delete_employee' employee.id %}" class="btn btn-danger"> Delete </a>
                <a href="{% url 'logout' %}" class="btn btn-secondary"> Logout </a> </div>
        </div>
    </div>
</body>

</html>