{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <head>
        <title>Employee List</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/employee_list.css' %}">
    </head>
</head>

<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'employee_list' %}">
            Employee Management System
        </a>

        <div class="ms-auto">
            <a href="{% url 'employee_list' %}"
               class="btn btn-outline-light me-2">
                Employees
            </a>

            <a href="{% url 'register' %}"
               class="btn btn-success me-2">
                Register
            </a>

            <a href="{% url 'logout' %}"
               class="btn btn-danger">
                Logout
            </a>
        </div>

    </div>
</nav>

</div>
<h2 class="mb-3">Employee List</h2>

<form method="GET" class="mb-3">
    <input type="text"
           name="search"
           class="form-control"
           placeholder="Search Employee">

    <button type="submit"
            class="btn btn-primary mt-2">
        Search
    </button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        {% for emp in employees %}
        <tr>
            <td>{{ emp.first_name }} {{ emp.last_name }}</td>

            <td>{{ emp.designation }}</td>

            <td>
                <a href="{% url 'employee_details' emp.id %}"
                   class="btn btn-info">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</body>

</html>